* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  border: 1px solid;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  text-align: center;
}